<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ogrenci_Not_Kayit.Properties.Settings.OgrenciNotKayitDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=OgrenciNotKayitDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ogrenci_Not_Kayit.Properties.Settings.OgrenciNotKayitConnectionString"
            connectionString="Data Source=.;Initial Catalog=OgrenciNotKayit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>